h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20;
    text-align: center;
}

body{
    background-color: #f5f5dc;
}

.headerName{
    text-align: center;
}

.summary{
    text-align: center;
    font-weight: bold;
}

  .stripe-2 {
    color: black;
    background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      #ccc 10px,
      #ccc 20px
    ),
    linear-gradient(
      to bottom,
      #eee,
      #999
    )
  }

.footer{
    text-align: center;
}

